<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/calculator">
        <div>
            <input type="text" id="out" name="equation">
        </div>
        <br>
        <div id="calc">
            <div>
                <button type="button">1</button>
                <button type="button">2</button>
                <button type="button">3</button>
                <button type="button">4</button>
                <button type="button">5</button>
                <button type="button">6</button>
                <button type="button">7</button>
                <button type="button">8</button>
                <button type="button">9</button>
                <button type="button">0</button>
            </div>
            <br>
            <div>
                <button type="button">+</button>
                <button type="button">-</button>
                <button type="button">*</button>
                <button type="button">/</button>
                <button type="submit" style="background-color: darkorange">=</button>
            </div>
        </div>
    </form>
    <br>
    <form action="/">
        <button type="submit">назад</button>
    </form>
    <script>
        const calc = document.getElementById('calc')
        const out = document.getElementById('out')

        calc.addEventListener('click', function (event) {
            if (event.target.textContent != "=") {
                out.value+=event.target.textContent;
            }
        })
    </script>
</body>
</html>